<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Group Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="page-heading-div" id="page-heading-div">
        <h1 class="page-heading" id="page-heading">Your Groups</h1>
    </div>
    <div class="new-group-div" id="new-group-div">
        <p>Can't Find the Group You are Looking For? <button id="new-group-btn" onclick="newGroup()">Create New Group</button></p>   
    </div>
    <div class="groups-div" id="groups-div">
        <ul class="groups-ul" id="groups-ul">
        </ul>
    </div>
</body>
<script src="../index.js"></script>
</html>